@define-color mauve #cba6f7;
@define-color mauve-sec alpha(@mauve, .4);
@define-color red #f38ba8;
@define-color blue #89b4fa;
@define-color text #cdd6f4;
@define-color surface2 #585b70;
@define-color surface0 #313244;
@define-color surface0-sec alpha(@surface0, 0.4);
@define-color base #1e1e2e;
