configuration {
  show-icons: true;
  drun-display-format: "{name}";
  disable-history: false;
  kb-remove-to-eol: "";
  kb-mode-complete: "";
  kb-accept-entry: "Return,KP_Enter";
}

@import "~/.local/state/hyprpunk/keyboard/rofi.rasi"
@theme "~/.config/rofi/catppuccin-mocha.rasi"
